body {
    background-image: url(https://collectionapi.metmuseum.org/api/collection/v1/iiif/56915/128774/main-image);
    text-align: center;
    height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}


h1 {
    color: rgb(210, 52, 52);
    font-size: 150px;
    text-align: center;
    font-family: Cormorant Garamond, serif;
}

h2 
{
    text-align: center;
    font-family: Cormorant Garamond, serif;
    font-size: 60px;
    color:rgb(193, 41, 87);

}

.message 
    {
        text-align: center;
        font-family: Cormorant Garamond, serif;
        font-size: 60px;
        color:rgb(193, 41, 87);
    }

.myCards {
float: left;
}

.opponentCards {
float: right;
}

.center {
    margin:auto;
    border:1px solid;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px;
   font-size: 30px;
   background-image: url(https://image.shutterstock.com/z/stock-vector-samurai-warrior-mask-traditional-armor-of-japanese-warrior-vector-illustration-shirt-graphic-1310319145.jpg);
   background-size: 120px;
   background-position: center; 
   background-repeat: no-repeat; 
   background-size: cover;
   color:  rgb(210, 52, 52);
   font-style:italic;
   border: 2px solid;
   font-family: Cormorant Garamond, serif;

}
#image_container1 {
width: 200px;
height: 300px;
object-position: bottom left;
}

#image_container2 {
    width: 200px;
    height: 300px;
    object-position: bottom right;
    }

    #user_war_card1 {
        width: 200px;
        height: 300px;
        object-position: bottom left;
        }
        
        #user_war_card2 {
            width: 200px;
            height: 300px;
            object-position: bottom right;
            }

            #opponent_war_card1{
                width: 200px;
                height: 300px;
                object-position: bottom left;
                }
                
                #opponent_war_card2 {
                    width: 200px;
                    height: 300px;
                    object-position: bottom right;
                    }



    

