body {
    background-image: url(https://collectionapi.metmuseum.org/api/collection/v1/iiif/56915/128774/main-image);
}




h1 {
    color: blue;
    font-size: 70px;
    text-align: center;
}

h2 
{
    text-align: center;

}

.myCards {
float: left;
}

.opponentCards {
float: right;
}

.center {
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    right: 50%;
    padding: 10px;
    text-align: center;
    width: auto;
    margin: auto;

}
#image_container1 {
width: 200px;
height: 300px;
}

#image_container2 {
    width: 200px;
    height: 300px;
    }
    

